{% set service = pillar["uwsgi_services"][index] %}
[uwsgi]

inherit = /etc/uwsgi/common.ini
{% if 'chdir' in service %}
chdir = {{ service.chdir }}
{% endif %}
{% if 'django' in service %}
env = DJANGO_SETTINGS_MODULE={{ service.module }}.settings
module = django.core.handlers.wsgi:WSGIHandler()
{% else %}
module = {{ service.module }}
{% endif %}
processes = {{ service.get('processes', 2) }}
{% if 'idle' in service %}
idle = 60
{% endif %}
socket = /run/uwsgi/%n.sock
{% if not 'global' in service %}
virtualenv = /usr/local/venv/%n
{% endif %}
procname-prefix-spaced = %n:
logto = /var/log/uwsgi/%n.log
