[uwsgi]
module = {{ module }}
master = true
processes = {{ processes }}
socket = /var/run/uwsgi/%n.sock
chdir = /usr/local/src/%n
virtualenv = {{ venv }}
auto-procname = true
procname-prefix-spaced = %n:
logto = /var/log/uwsgi/%n.log
