{% set profile = pillar["netcfg_profiles"][index] %}
CONNECTION='{{ profile.get('connection', 'wireless') }}'
DESCRIPTION='Connection for {{ profile.name }}'
INTERFACE='{{ profile.get('interface', 'wlan0') }}'
IP='{{ profile.get('ip', 'dhcp') }}'
{%- if 'addr' in profile %}
ADDR='{{ profile.addr }}'
{%- endif %}
{%- if 'security' in profile %}
SECURITY='{{ profile.security }}'
{%- endif %}

{%- if 'post_up' in profile %}
POST_UP='{{ profile.post_up }}'
{%- endif %}

{% if 'essid' in profile %}
{%- if 'key' in profile %}
ESSID='{{ profile.essid }}'
KEY='{{ profile.key }}'
{%- else  %}
CONFIGSECTION='
    ssid="{{ profile.essid }}"
    key_mgmt={{ profile.key_mgmt }}
    eap={{ profile.eap }}
    anonymous_identity="{{ profile.identity }}"
    identity="{{ profile.identity }}"
    password="{{ profile.password }}"'
{%- endif %}
{% endif %}
