server {
  server_name {{ fqdn }};
  client_max_body_size 10m;

  root {{ root }};

  access_log  /var/log/nginx/{{ fqdn }}.access.log;

  keepalive_timeout 5;

  location ~ /(favicon.ico|robots.txt) {
    access_log off;
    log_not_found off;
  }

  location / {
    index  index.html;
    {% if autoindex %}
    autoindex on;
    autoindex_exact_size off;
    {% endif %}
  }
}
